.small{
    background-color: blanchedalmond;
    margin-top: 35px;
    float: left;
    width: 20%;
    border-left: 1px solid rgb(44, 41, 41);
    font-size: 25px;
    padding-top: 15px;
}

.uls{
    list-style-type: none;
}
.uls li{
    padding-top: 15px;
    text-align: center;
}